{% extends 'base.html' %}
 
{% block container %}
  {% if current_user.is_authenticated %}
    <div class="home">
      <div class="topLogo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" />
      </div>
      <div class="topHeader">
        <h1>Support Manager</h1>
      </div>
      <p>Inventario de equipos</p>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="cantCloseWindowGeneral">
        <label class="form-check-label" for="cantCloseWindowGeneral">Forzar inventario por defecto</label>
      </div>
      {% if colnames|length > 0 %}
        <table id="inventory" class="table table-striped wrap">
          <thead>
            <tr>
              {% for col in colnames %}
              <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
              <tr>
                {% for col in colnames %}
                  <td>{{ record[col] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Aun no hay inventarios cargados...</p>
      {% endif %}
      <p>Usuario: {{ current_user.username }}</p>
      <div class="d-flex justify-content-center">
        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#inventory thead tr').clone(true).addClass('filters').appendTo('#inventory thead');

        var table = $('#inventory').DataTable( {
          dom: 'Blfrtip',
          bAutoWidth: false,
          colReorder: true,
          scrollX: true,
          select: {
            style: "multi"
          },
          buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5',
            {
              extend: 'colvis',
              columns: ':not(.noVis)'
            },
            {
              text: "Seleccionar pagina",
              action: function() {
                table.rows({page: 'current'}).select()
              }
            },
            {
              text: "Deseleccionar pagina",
              action: function() {
                table.rows({page: 'current'}).deselect()
              }
            },
            {
              text: "Llenar inventario nuevamente",
              action: function() {
                var rowsSelected = table.rows( { selected: true } ).every(function(rowIdx, tableLoop, rowLoop){
                  rowData = this.data()
                  console.log(rowData)
                  var id = rowData[rowData.length - 1];
                  var xhr = new XMLHttpRequest();
                  var URL = "https://inventario.local/inventory/updateMustRefillAgain"
                  xhr.open("POST", URL)
                  xhr.table = this
                  xhr.rowIdx = rowIdx
                  xhr.mustRefillAgainColumnIdx = rowData.length - 3
                  xhr.setRequestHeader("Content-Type", "application/json")
                  xhr.onload = function(e) {
                    if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                        this.table.cell({ row: this.rowIdx, column: this.mustRefillAgainColumnIdx}).data("True").draw()
                      }
                    }
                  }
                  xhr.send(JSON.stringify({
                    "id": id,
                    "MustRefillAgain": true
                  }))
                  console.log(id)
                })
              }
            },
            {
              text: "Forzar inventario",
              action: function() {
                var rowsSelected = table.rows( { selected: true } ).every(function(rowIdx, tableLoop, rowLoop){
                  rowData = this.data()
                  console.log(rowData)
                  var id = rowData[rowData.length - 1];
                  var xhr = new XMLHttpRequest();
                  var URL = "https://inventario.local/inventory/updateCantCloseWindow"
                  xhr.open("POST", URL)
                  xhr.table = this
                  xhr.rowIdx = rowIdx
                  xhr.cantCloseWindowColumnIdx = rowData.length - 2
                  xhr.setRequestHeader("Content-Type", "application/json")
                  xhr.onload = function(e) {
                    if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                        this.table.cell({ row: this.rowIdx, column: this.cantCloseWindowColumnIdx}).data("True").draw()
                      }
                    }
                  }
                  xhr.send(JSON.stringify({
                    "id": id,
                    "CantCloseWindow": true
                  }))
                  console.log(id)
                })
              }
            },
            {
              text: "No forzar inventario",
              action: function() {
                var rowsSelected = table.rows( { selected: true } ).every(function(rowIdx, tableLoop, rowLoop){
                  rowData = this.data()
                  console.log(rowData)
                  var id = rowData[rowData.length - 1];
                  var xhr = new XMLHttpRequest();
                  var URL = "https://inventario.local/inventory/updateCantCloseWindow"
                  xhr.open("POST", URL)
                  xhr.table = this
                  xhr.rowIdx = rowIdx
                  xhr.cantCloseWindowColumnIdx = rowData.length - 2
                  xhr.setRequestHeader("Content-Type", "application/json")
                  xhr.onload = function(e) {
                    if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                        this.table.cell({ row: this.rowIdx, column: this.cantCloseWindowColumnIdx}).data("False").draw()
                      }
                    }
                  }
                  xhr.send(JSON.stringify({
                    "id": id,
                    "CantCloseWindow": false
                  }))
                  console.log(id)
                })
              }
            },
            {
              text: "Limpiar todos los filtros",
              action: function(e, dt, node, config) {
                $("input").each(function() {
                  $(this).val('');
                });
                dt
                  .search('')
                  .columns()
                  .search('')
                  .draw();
              }
            }
          ],
          columnDefs: [
            {
              targets: 1,
              className: 'noVis'
            }
          ],
          orderCellsTop: true,
          fixedHeader: true,
          initComplete: function () {
            var api = this.api();
            // For each column
            api
              .columns()
              .eq(0)
              .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                  $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                // On every keypress in this input
                $(
                  'input',
                  $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                  .off('keyup change')
                  .on('change', function (e) {
                    // Get the search value
                    $(this).attr('title', $(this).val());
                    var regexr = '({search})'; //$(this).parents('th').find('select').val();
    
                    var cursorPosition = this.selectionStart;
                    // Search the column for that value
                    api
                      .column(colIdx)
                      .search(
                        this.value != ''
                          ? regexr.replace('{search}', '(((' + this.value + ')))')
                          : '',
                        this.value != '',
                        this.value == ''
                      )
                      .draw();
                  })
                  .on('keyup', function (e) {
                    e.stopPropagation();

                    $(this).trigger('change');
                    $(this)
                      .focus()[0]
                      .setSelectionRange(cursorPosition, cursorPosition);
                  });
              });
          },
        } );

        function changeCantCloseWindowGeneral(newState, event) {
          var xhr = new XMLHttpRequest();
          var URL = "https://inventario.local/inventories/updateCantCloseWindow/general"
          xhr.open("POST", URL)
          xhr.responseType = "json"
          xhr.setRequestHeader("Content-Type", "application/json")
          xhr.event = event
          xhr.onload = function() {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                var jsonResponse = xhr.response
                $('#cantCloseWindowGeneral').prop('checked', jsonResponse.CantCloseWindow)
              } else {
                xhr.event.preventDefault();
                $('#cantCloseWindowGeneral').prop('disabled', true)
              }
            }
          }
          xhr.send(JSON.stringify({
            "CantCloseWindow": newState
          }))  
        }

        $('#cantCloseWindowGeneral').on('mousedown keydown', function(event) {
          changeCantCloseWindowGeneral(!($(this).prop('checked')), event)
        })
        
        var xhr = new XMLHttpRequest();
        var URL = "https://inventario.local/inventories/cantCloseWindow/general"
        xhr.responseType = "json"
        xhr.open("GET", URL, true)
        xhr.onload = function() {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              var jsonResponse = xhr.response
              $('#cantCloseWindowGeneral').prop('checked', jsonResponse.CantCloseWindow)
            } else {
              $('#cantCloseWindowGeneral').prop('disabled', true)
            }
          }
        }
        xhr.send(null)
      } );
    </script>
  {% endif %}      
{% endblock %}