{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad m-5">
    <div class="topLogo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" />
    </div>
    <div class="topHeader">
      <h1>Support Manager</h1>
    </div>
    <form method="POST" class="myForm">
        {{ form.csrf_token }}
        <div class="mb-3 form-group">{{ form.username(class_="form-control", placeholder="Nombre de usuario") }}</div>
        <div class="mb-3 form-group">{{ form.password(class_="form-control", placeholder="Contraseña") }}</div>
        <div class="mb-3 form-group">{{ form.submit(class_="form-control") }}</div>
        <div class="spinner-border" role="status" style="display:none;">
          <span class="visually-hidden">Loading...</span>
        </div>
      </form>
  </div>
  <script>
    $(document).ready(function() {
      $(".myForm").on('submit', function() {
        $(".form-control").each(function() {
          $(this).hide();
        });
        $(".spinner-border").show();
        $(this).submit();
      });
    });
  </script>
{% endblock %}